*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: lightgray;
}
#Cabecalho{
    margin: 0%;
    padding: 0%;
    border: 1px solid black;
    height: 150px;
    width: 100%;
    background-image: url(IMG/Fundo/densa-floresta-de-pinheiros-na-nevoa-da-manha-floresta-de-pinheiros-nevoenta_74782-339.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: center;
}
#Urso-Negro{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: start;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
    box-sizing: border-box;
    border: 2px solid black;
    min-height: 955px;
    background-color: white;
}
#Botao1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    box-sizing:border-box;
    height:25px;
    width:75px;
    border: 2px solid black;
    text-align: center;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 5px;
}
#negro1{
    height: 300px;
    width: 450px;
    border: 2px solid black;
    float: left;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 5px;
}
#negro2{
    height: 300px;
    width: 450px;
    border: 2px solid black;
    float: right;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
}
#negro3{
    height: 300px;
    width: 450px;
    border: 2px solid black;
    float: left;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 5px;
}
p{
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
    background-color: white;
}
#img-rodape{
    height: 130px;
    margin-left: 10px;
    border: 4px solid black;
    background-color: gray;
}
#img-info{
    height: 130px;
    margin-right: 10px;
    background-color: gray;
}
#Rodape{
    margin: 0%;
    padding: 0%;
    border: 1px solid black;
    height: 150px;
    width: 100%;
    margin-top: 5px;
    background-color: gray;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}