body{
    background-color: lightgray;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#Cabecalho{
    margin: 0%;
    padding: 0%;
    border: 1px solid black;
    height: 150px;
    width: 100%;
    background-image: url(IMG/Fundo/densa-floresta-de-pinheiros-na-nevoa-da-manha-floresta-de-pinheiros-nevoenta_74782-339.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: center;
}
#Urso{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: start;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: white;
    padding: 6px;
}
p{
    margin-bottom: 20px;
    background-color: white;
}
#Botao{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    box-sizing:border-box;
    height:25px;
    min-width:75px;
    text-align: center;
}
#Botao button {
    padding: 4px;
}

#IMG-Urso{
    height: 250px;
    width: 318px;
    border: 2px solid black;
    justify-items: left;
    float: left;
    margin-right: 6px;
}
.IMG-Urso-right{
    float: right !important;
    margin-left: 6px;
    margin-right: 0px !important;
}
#img-rodape{
    height: 130px;
    margin-left: 10px;
    border: 4px solid black;
    background-color: gray;
}
#img-info{
    height: 130px;
    margin-right: 10px;
    background-color: gray;
}
#Rodape{
    margin: 0%;
    padding: 0%;
    border: 1px solid black;
    height: 150px;
    width: 100%;
    margin-top: 5px;
    background-color: gray;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 327px){
    #Cabecalho{
        margin: 0%;
        padding: 0%;
        border: 1px solid black;
        height: 100px;
        width: 100%;
        background-image: url(IMG/Fundo/densa-floresta-de-pinheiros-na-nevoa-da-manha-floresta-de-pinheiros-nevoenta_74782-339.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        font-size: 75px;
        font-family:'Times New Roman', Times, serif;
        justify-content: center;
    }
    #Urso{
        font-family:'Times New Roman', Times, serif;
        font-size: 15px;
        text-align: justify;
        margin-top: 5px;
        margin-left: 25px;
        margin-right: 25px;
        box-sizing: border-box;
        border: 2px solid black;
        min-height: 265px;
        background-color: white;
    }
    #IMG-Urso{
        height: 157px;
        width: 200px;
        border: 2px solid black;
        justify-items: left;
        float: none;
        margin-left: 5px;
        margin-right: 10px;
        margin-top: 5px;
    }
    .IMG-Urso-right{
        float: none !important;
        margin: 0px !important;
    }

}